* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/paisaje.jpg);
    background-size: 100%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.element1,
.element2,
.element3,
.element4 {
    display: flex;
    align-content: center;
    justify-content: center;
}

.element1 {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: rgba(100, 148, 237, 0.781);
    border-radius: 10px;
}

.element2 {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: rgba(237, 100, 100, 0.788);
    border-radius: 10px;
}

.element3 {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: rgba(141, 131, 55, 0.774);
    border-radius: 10px;
}

.element4 {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: rgba(89, 199, 67, 0.767);
    border-radius: 10px;
}

.element1:hover,
.element2:hover,
.element3:hover,
.element4:hover {
    background-color: rgba(114, 114, 114, 0.699);
}

.main-content div a {
    font-size: 1.5em;
    line-height: 12em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}